*.c linguist-language=C
*.cc linguist-language=C++
*.h linguist-language=C++
*.py linguist-language=Python
*.robot linguist-language=RobotFramework
Makefile linguist-language=Makefile
makefile linguist-language=Makefile
*.sh linguist-language=Shell

*.c linguist-vendored=false
*.cc linguist-vendored=false
*.h linguist-vendored=false
*.py linguist-vendored=false
*.robot linguist-vendored=false
Makefile linguist-vendored=false
makefile linguist-vendored=false
*.sh linguist-vendored=false

*.md linguist-documentation
*.json linguist-vendored

src/tensorflow/** linguist-vendored
